#search-bar {
    background-color: var(--element-bg);
    color: var(--font-colour);

    margin: 0 auto;
    margin-top: 1rem;

    padding: 10px;
    width: 15vw;
    border-radius: 1.5rem;

    @media (max-width: 600px) {
        width: 90%;
    }

    img {
        height: 1em;
        width: 1em;
        vertical-align: -0.15em;
        filter: var(--img-filter);
    }

    input {
        width: 80%;
        border: none;

        background-color: var(--element-bg);
        color: var(--font-colour);
    }
}
