#about {
    display: flex;
    justify-content: center;
    padding: 2rem 1rem;

    @media (max-width: 600px) {
        padding: 1rem 0.75rem;
    }

    h1 {
        margin: 0;
    }

    a {
        color: var(--link-colour);
        text-decoration: none;
    }

    #github-link {
        position: static;
        margin: auto;
        width: fit-content;
    }
}

#about-card {
    box-sizing: border-box;

    width: 35%;
    min-width: 500px;

    padding: 2rem 2.5rem;

    background-color: var(--element-bg);
    color: var(--font-colour);

    border-radius: 1.5rem;
    box-shadow: 8px 16px rgba(0, 0, 0, 0.1);

    font-size: 1.25rem;
    line-height: 1.6;

    @media (max-width: 600px) {
        width: 95%;
        min-width: 0;

        padding: 1.5rem 1.25rem 1.75rem;

        font-size: 1rem;
    }
}
