#hamburger-menu {
    background-color: var(--element-bg);
    color: var(--font-colour);

    margin: 1rem;

    height: 7vh;
    width: auto;

    border: none;
    clip-path: circle(50% at 50% 50%);
}

#hamburger-icon {
    height: 100%;
    width: 100%;
    filter: var(--img-filter);
}
