@use "../../../variables" as *;

#sidenav {
    position: fixed;
    top: 0;
    left: 0;

    background-color: var(--element-bg);
    color: var(--font-colour);

    height: 100%;
    width: 0;
    max-width: 380px;

    overflow-x: hidden;
    z-index: 3;

    transition: width 0.4s ease;

    @media (max-width: $mobile-width) {
        transition: width 0.3s ease;
    }
}

#sidenav-background {
    position: fixed;
    inset: 0;

    visibility: hidden;
    z-index: 2;

    background-color: rgb(0, 0, 0, 0.8);
}

#close-sidenav {
    height: 6%;
    max-height: 58px;
    width: auto;

    background-color: var(--element-bg);
    color: var(--font-colour);

    position: absolute;
    top: 0;
    right: 0;

    border: none;
    margin: 1rem;

    img {
        height: 100%;
        width: 100%;
        filter: var(--img-filter);
    }
}

#sidenav-tabs {
    margin-top: 5.2rem;

    @media (max-width: $mobile-width) {
        margin-top: 4.5rem;
    }
}
